aws/stepfunctions/templates/ingestion_pipeline.json
{
  "Comment": "Data Ingestion Pipeline -- Parallel domain ingestion + PII encryption, then trigger training pipeline",
  "StartAt": "ParallelDomainIngestion",
  "States": {
    "ParallelDomainIngestion": {
      "Type": "Map",
      "Comment": "Fan-out over $.domains array; each item is a domain config object with 'name' and 's3_input_path'.",
      "ItemsPath": "$.domains",
      "MaxConcurrency": 13,
      "ResultPath": "$.ingestion_results",
      "Iterator": {
        "StartAt": "IngestDomain",
        "States": {
          "IngestDomain": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
            "Parameters": {
              "ProcessingJobName.$": "States.Format('ingest-{}-{}', $.name, $$.Execution.Name)",
              "ProcessingResources": {
                "ClusterConfig": {
                  "InstanceCount": 1,
                  "InstanceType": "ml.m5.xlarge",
                  "VolumeSizeInGB": 30
                }
              },
              "AppSpecification": {
                "ImageUri.$": "$$.Execution.Input.processing_image_uri",
                "ContainerEntrypoint": [
                  "python", "entrypoint.py",
                  "--domain", "$.name",
                  "--config", "/opt/ml/processing/input/config/ingestion.yaml",
                  "--input-dir", "/opt/ml/processing/input/data",
                  "--output-dir", "/opt/ml/processing/output"
                ]
              },
              "Environment": {
                "DOMAIN_NAME.$": "$.name",
                "CONFIG_PATH": "/opt/ml/processing/input/config/ingestion.yaml",
                "USE_LOCAL_SALTS": "false"
              },
              "ProcessingInputs": [
                {
                  "InputName": "data",
                  "S3Input": {
                    "S3Uri.$": "$.s3_input_path",
                    "LocalPath": "/opt/ml/processing/input/data",
                    "S3DataType": "S3Prefix",
                    "S3InputMode": "File"
                  }
                },
                {
                  "InputName": "config",
                  "S3Input": {
                    "S3Uri.$": "$$.Execution.Input.config_s3_uri",
                    "LocalPath": "/opt/ml/processing/input/config",
                    "S3DataType": "S3Prefix",
                    "S3InputMode": "File"
                  }
                },
                {
                  "InputName": "code",
                  "S3Input": {
                    "S3Uri.$": "$$.Execution.Input.source_code_s3_uri",
                    "LocalPath": "/opt/ml/code",
                    "S3DataType": "S3Prefix",
                    "S3InputMode": "File"
                  }
                }
              ],
              "ProcessingOutputs": [
                {
                  "OutputName": "ingested",
                  "S3Output": {
                    "S3Uri.$": "States.Format('{}/{}/', $$.Execution.Input.ingested_data_uri, $.name)",
                    "LocalPath": "/opt/ml/processing/output",
                    "S3UploadMode": "EndOfJob"
                  }
                }
              ],
              "RoleArn.$": "$$.Execution.Input.role_arn",
              "Tags": [
                {"Key": "Pipeline", "Value": "ingestion"},
                {"Key": "Domain", "Value.$": "$.name"}
              ]
            },
            "End": true,
            "Retry": [
              {
                "ErrorEquals": ["SageMaker.AmazonSageMakerException"],
                "IntervalSeconds": 60,
                "MaxAttempts": 2,
                "BackoffRate": 2.0
              }
            ]
          }
        }
      },
      "Next": "ValidateIngestion",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.ingestion_error",
          "Next": "FailState"
        }
      ]
    },
    "ValidateIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "validate-ingestion",
        "Payload": {
          "results.$": "$.ingestion_results",
          "output_base.$": "$.ingested_data_uri",
          "expected_domains.$": "$.domains"
        }
      },
      "ResultSelector": {
        "validation_passed.$": "$.Payload.validation_passed",
        "domain_count.$": "$.Payload.domain_count",
        "total_rows.$": "$.Payload.total_rows"
      },
      "ResultPath": "$.validation_result",
      "Next": "CheckValidation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.validation_error",
          "Next": "FailState"
        }
      ]
    },
    "CheckValidation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation_result.validation_passed",
          "BooleanEquals": true,
          "Next": "TriggerTrainingPipeline"
        }
      ],
      "Default": "FailState"
    },
    "TriggerTrainingPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.training_pipeline_arn",
        "Input": {
          "raw_data_uri.$": "$.ingested_data_uri",
          "features_output_uri.$": "$.features_output_uri",
          "model_output_uri.$": "$.model_output_uri",
          "processing_image_uri.$": "$.processing_image_uri",
          "training_image_uri.$": "$.training_image_uri",
          "instance_type.$": "$.instance_type",
          "use_spot.$": "$.use_spot",
          "role_arn.$": "$.role_arn",
          "checkpoint_uri.$": "$.checkpoint_uri",
          "task_name.$": "$.task_name",
          "hyperparameters.$": "$.hyperparameters"
        }
      },
      "ResultPath": "$.training_result",
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.training_error",
          "Next": "FailState"
        }
      ]
    },
    "Success": {
      "Type": "Succeed"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "IngestionPipelineFailed",
      "Cause": "Domain ingestion or validation failed. Check CloudWatch logs and $.ingestion_error or $.validation_error."
    }
  }
}
