aws/stepfunctions/templates/training_pipeline.json
{
  "Comment": "ML Pipeline — Feature Engineering → PLE Training → Distillation → Model Registration",
  "StartAt": "FeatureEngineering",
  "States": {
    "FeatureEngineering": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
      "Parameters": {
        "ProcessingJobName.$": "States.Format('feature-eng-{}', $$.Execution.Name)",
        "ProcessingResources": {
          "ClusterConfig": {
            "InstanceCount": 1,
            "InstanceType": "ml.m5.xlarge",
            "VolumeSizeInGB": 30
          }
        },
        "AppSpecification": {
          "ImageUri.$": "$.processing_image_uri",
          "ContainerEntrypoint": ["python", "processing/feature_engineering.py"]
        },
        "ProcessingInputs": [
          {
            "InputName": "raw_data",
            "S3Input": {
              "S3Uri.$": "$.raw_data_uri",
              "LocalPath": "/opt/ml/processing/input",
              "S3DataType": "S3Prefix"
            }
          }
        ],
        "ProcessingOutputs": [
          {
            "OutputName": "features",
            "S3Output": {
              "S3Uri.$": "$.features_output_uri",
              "LocalPath": "/opt/ml/processing/output",
              "S3UploadMode": "EndOfJob"
            }
          }
        ],
        "RoleArn.$": "$.role_arn"
      },
      "ResultPath": "$.feature_result",
      "Next": "Training",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "FailState"}]
    },
    "Training": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "States.Format('training-{}', $$.Execution.Name)",
        "AlgorithmSpecification": {
          "TrainingImage.$": "$.training_image_uri",
          "TrainingInputMode": "File"
        },
        "ResourceConfig": {
          "InstanceCount": 1,
          "InstanceType.$": "$.instance_type",
          "VolumeSizeInGB": 50
        },
        "StoppingCondition": {"MaxRuntimeInSeconds": 7200},
        "EnableManagedSpotTraining.$": "$.use_spot",
        "CheckpointConfig": {
          "S3Uri.$": "$.checkpoint_uri"
        },
        "InputDataConfig": [
          {
            "ChannelName": "train",
            "DataSource": {
              "S3DataSource": {
                "S3Uri.$": "$.features_output_uri",
                "S3DataType": "S3Prefix"
              }
            }
          }
        ],
        "OutputDataConfig": {"S3OutputPath.$": "$.model_output_uri"},
        "RoleArn.$": "$.role_arn",
        "HyperParameters.$": "$.hyperparameters"
      },
      "ResultPath": "$.training_result",
      "Next": "Distillation",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "FailState"}]
    },
    "Distillation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
      "Parameters": {
        "ProcessingJobName.$": "States.Format('distill-{}', $$.Execution.Name)",
        "ProcessingResources": {
          "ClusterConfig": {
            "InstanceCount": 1,
            "InstanceType": "ml.m5.xlarge",
            "VolumeSizeInGB": 30
          }
        },
        "AppSpecification": {
          "ImageUri.$": "$.processing_image_uri",
          "ContainerEntrypoint": [
            "python", "scripts/run_distillation.py",
            "--teacher-checkpoint", "/opt/ml/processing/input/teacher/model.pth",
            "--data-path", "/opt/ml/processing/input/data/",
            "--output-dir", "/opt/ml/processing/output",
            "--config", "configs/financial/pipeline.yaml",
            "--soft-label-path", "/opt/ml/processing/output/soft_labels.parquet"
          ]
        },
        "ProcessingInputs": [
          {
            "InputName": "teacher",
            "S3Input": {
              "S3Uri.$": "$.model_output_uri",
              "LocalPath": "/opt/ml/processing/input/teacher",
              "S3DataType": "S3Prefix"
            }
          },
          {
            "InputName": "data",
            "S3Input": {
              "S3Uri.$": "$.features_output_uri",
              "LocalPath": "/opt/ml/processing/input/data",
              "S3DataType": "S3Prefix"
            }
          }
        ],
        "ProcessingOutputs": [
          {
            "OutputName": "students",
            "S3Output": {
              "S3Uri.$": "States.Format('{}/students/', $.model_output_uri)",
              "LocalPath": "/opt/ml/processing/output",
              "S3UploadMode": "EndOfJob"
            }
          }
        ],
        "RoleArn.$": "$.role_arn"
      },
      "ResultPath": "$.distillation_result",
      "Next": "RegisterModel",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "FailState"}]
    },
    "RegisterModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "register-model",
        "Payload": {
          "action": "package_and_promote",
          "training_job_name.$": "States.Format('training-{}', $$.Execution.Name)",
          "distillation_job_name.$": "States.Format('distill-{}', $$.Execution.Name)",
          "task_name.$": "$.task_name",
          "teacher_uri.$": "$.model_output_uri",
          "student_uri.$": "States.Format('{}/students/', $.model_output_uri)",
          "registry_base.$": "States.Format('{}/artifacts/', $.model_output_uri)",
          "version.$": "States.Format('v-{}', $$.Execution.Name)",
          "auto_promote": true
        }
      },
      "ResultPath": "$.register_result",
      "Next": "Success",
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "FailState"}]
    },
    "Success": {"Type": "Succeed"},
    "FailState": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "One or more pipeline steps failed. Check CloudWatch logs."
    }
  }
}
